{% extends 'base.html' %}

{% block content %}
<div class="row search-header">
    <div class="column search-hitcount">
        {% if total.value == 1 %}
        {{ total.value }} träff
        {% else %}
        {{ total.value }} träffar
        {% endif %}
    </div>
    <div class="column search-sort">
        Sortering:
        {% for (title, field, default_sort) in sort_options %}
        {% if sort_by == field %}
        <strong>
            <a href="/?{{ request.args|build_query_string }}&sort_by={{ field }}&order_by={{ order_by_next }}">
                {{ title|safe }} {% if order_by == 'asc' %}↑{% else %}↓{% endif %}
            </a>
        </strong>
        {% else %}
        <a href="/?{{ request.args|build_query_string }}&sort_by={{ field }}&order_by={{ default_sort }}">{{ title|safe
            }}</a>
        {% endif %}

        {% if not loop.last %} / {% endif %}
        {% endfor %}
    </div>
</div>

<div class="hits">
    {% for sou in response %}
    {% include "sou/sou_snippet.html" %}
    {% endfor %}
</div>

{{ pagination.links }}
{% endblock %}

{% block sidebar %}
{% if response.facets.year %}
<form id="search_form" method="GET" action="/">
    <input type="hidden" id="q" name="q" value="{{ q }}">
    {% with facet_display_name="År", facet_name="year", facet_items=response.facets.year %}
        {% include "sou/facet.html" %}
    {% endwith %}
    <button class="button is-small is-info">Filtrera</button>
</form>
{% endif %}

<h4>Sökhjälp</h4>
<p><strong>Citationstecken</strong> används för frassökning: <code>"katter i träd"</code></p>
<p><strong>AND</strong>: implicit defaultoperator. <code>katt hund</code> blir automatiskt <code>katt AND hund</code> och matchar dokument där katt och hund förekommer.</p>
<p><strong>OR</strong>: <code>katt OR hund</code> eller <code>katt | hund</code> matchar dokument där katt och/eller hund förekommer.</p>
<p><strong>NOT</strong>: <code>katt NOT hund</code> eller <code>katt -hund</code> matchar dokument där katt men inte hund förekommer.</p>
<p><strong>Parenteser</strong> kan användas för att gruppera sökuttryck och bestämma ordning: <code>veterinär (katt OR havsörn)</code>.</p>
<p><strong>Trunkering/wildcard</strong>: <code>tr?st</code> matchar trist, tröst, osv. <code>rymd*</code> matchar rymd, rymdforskning, osv.
<code>f?ord*</code> matchar fjord, fnord, fåordig, fjordarna, osv.</p>
<p><strong>Hela fulltexten, nummer och titel</strong> söks per default, men du kan avgränsa till specifika fält: <code>title:(polis OR domstol)</code> matchar dokument med polis eller domstol i titeln.
    <code>year:2007</code> matchar alla dokument från 2007. <code>year:[1970 TO 1976] personnummer OR integritet</code> matchar alla dokument från 1970-1976 med personnummer
eller integritet i något av fälten.</p>
<p><strong>Närhet</strong>: <code>"fysisk integritet"~5</code> matchar dokument där "fysisk" och "integritet" förekommer inom 5 ords avstånd från varandra.</p>
{% endblock %}