<div class="hit">
    <h2>
        <a href="{{ doc.url }}">
            <strong>{{ doc.type|translate_tag }} {{doc.year}}:{{ doc.number }}</strong>
            {% if 'title' in doc.meta.highlight %}
            {{ doc.meta.highlight.title|first|safe }}
            {% else %}
            {{ doc.title }}
            {% endif %}
        </a>
    </h2>

    <span class="meta">
        <a href="https://lagen.nu/{{ doc.type }}/{{ doc.year }}:{{ doc.number }}">html</a> (lagen.nu)
        {% if doc.related_id %}
            | Bilaga. Se <a href="/?q={{ doc.related_id }}">huvuddokument</a>.
        {% endif %}
    </span>

    {% if 'full_text' in doc.meta.highlight %}
        {% for fragment in doc.meta.highlight.full_text %}
        <p class="fragment">… {{ fragment|clean(tags=['em']) }} …</p>
        {% endfor %}
    {% endif %}
</div>